body{
  @include helvetica-neue-regular();
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
}

article,
section{
  width: 100%;
}

section.main,
article.main,
aside.main{
  padding-top: 50px;
}

aside{
  div:first-child{
    margin-top: 0;
  }
}
main{
  padding-bottom: 59px;
}
.article-main{
  padding-bottom: 30px;
}

.header{
  font-size: 17px;
  position: relative;
  .row{
    height: 100%;
  }


}

.main-content {
  display: flex;
  flex-direction: column;


  @include for-tablet-landscape-up {
    flex-direction: column;
    width: 75%;
    margin-left: auto;
    padding-left: 40px;
  }

  @include for-desktop-up {

    margin-left: 0;
    padding: 0;
    width: 100%;
  }

}

.wrapp {
  padding: 0 16px;



  @include for-desktop-up {
    margin-left: 360px;
    max-width: 1200px;
    padding: 0 40px 0 16px;
  }
}



/** H1-H6 ***/
h1,
h2,
h3,
h4,
h5,
h6{
  color: $h-color;
  @include helvetica-neue-bold();
}
h1{
  font-size: 24px;
  font-weight: normal;
  line-height: 28px;
  margin-bottom: 0;
  padding-bottom: 25px;
}

h2{
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 0;
  padding-bottom: 10px;
}

h3{
  font-size: rem(30px);
  line-height: rem(32px);
  margin-bottom: 0;
  padding-bottom: rem(17px);
}

h4{
  font-size: rem(24px);
  line-height: rem(28px);
  margin-bottom: rem(20px);
}

h5{
  font-size: rem(24px);
  line-height: rem(28px);
  margin-bottom: rem(12px);
}

h6{
  font-size: rem(18px);
  line-height: rem(20px);
  margin-bottom: 0;
}

.container{
  height: 100%;
  max-width: 1024px;
  padding-right: $gap;
  padding-left: $gap;
  width: 90%;
  margin-right: auto;
  margin-left: auto;

  @include for-desktop-up {
    //width: 1200px;
    max-width: 100%;
  }
}

.container-content {

}

/********** FORM *********/

input[placeholder]{
  text-overflow: ellipsis;
}

/* сдвиг placeholder-а вниз при фокусе*/
input::-webkit-input-placeholder{
  opacity: .54;
  transition: opacity .3s ease;
}
input::-moz-placeholder{
  opacity: .54;
  transition: opacity .3s ease;
}
input:-moz-placeholder{
  opacity: .54;
  transition: opacity .3s ease;
}
input:-ms-input-placeholder{
  opacity: .54;
  transition: opacity .3s ease;
}
input:focus::-webkit-input-placeholder{
  opacity: 0;
  transition: opacity .3s ease;
}
input:focus::-moz-placeholder{
  opacity: 0;
  transition: opacity .3s ease;
}
input:focus:-moz-placeholder{
  opacity: 0;
  transition: opacity .3s ease;
}
input:focus:-ms-input-placeholder{
  opacity: 0;
  transition: opacity .3s ease;
}

/* плавное изменение прозрачности  placeholder-а при фокусе */

textarea::-webkit-input-placeholder{
  opacity: .54;
  transition: opacity .3s ease;
}
textarea::-moz-placeholder{
  opacity: .54;
  transition: opacity .3s ease;
}
textarea:-moz-placeholder{
  opacity: .54;
  transition: opacity .3s ease;
}
textarea:-ms-input-placeholder{
  opacity: .54;
  transition: opacity .3s ease;
}
textarea:focus::-webkit-input-placeholder{
  opacity: 0;
  transition: opacity .3s ease;
}
textarea:focus::-moz-placeholder{
  opacity: 0;
  transition: opacity .3s ease;
}
textarea:focus:-moz-placeholder{
  opacity: 0;
  transition: opacity .3s ease;
}
textarea:focus:-ms-input-placeholder{
  opacity: 0;
  transition: opacity .3s ease;
}

.sidebar-block-gray{
  background-color: #f2f2f2;
  border: 1px solid #e4e6ea;
  margin-top: $gap;
  margin-bottom: $gap;
  padding: 17px 23px 17px 23px;
  border-radius: 3px;
}

.sidebar-block{
  padding: 0 23px 0 23px;
  margin-top: $gap;
  margin-bottom: $gap;
}
hr{
  max-width: 1108px;
  margin-top: 25px;
  margin-bottom: 28px;
  border: none;
  color: #dadada;
  height: 1px;
  background-color: #dadada;
}

.left-sidebar .sidebar {
  width: 20%;
  padding: 20px;
  order: 1;

  @include for-tablet-landscape-up {
    order: 0;
  }
}

.right-sidebar .sidebar {
  width: 20%;
  padding: 20px;
  order: 1;
}

.both-sidebar .sidebar {
  width: 20%;
  padding: 20px;
  order: 1;

  @include for-tablet-landscape-up {
    order: 0;
  }
}

.both-sidebar .sidebar-second {
  width: 20%;
  padding: 20px;
  order: 2;
}