.about {
  padding: 99px 0 105px 0;
  text-align: center;

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 50px;
  }

  &__item {
    width: 25%;
  }

  &__header {
    margin: 0 0 12px 0;
    font-size: 1.375rem;
  }

  &__description {
    margin-top: 0;
    font-size: 0.875rem;
    line-height: 1.5;
  }
}

.title {
  margin-bottom: 65px;
  text-align: center;

  &__header {
    margin: 0;
    font-size: 2.25rem;
    line-height: 1;
  }

  &__text {
    font-size: 1.25rem;
    @include helvetica-neue-light();
  }

  &--with-bottom-line {
    position: relative;

    &:after {
      position: absolute;
      @include center();
      content: '';
      bottom: -16px;
      width: 47px;
      height: 5px;
      background: $color;
    }
  }
}