/*** Buttons ***/
.button {
  @include helvetica-neue-light();
  display: inline-block;
  border-radius: 3px;
  padding: 10px 30px 7px 25px;
  text-decoration: none;
  color: #fff;

  &--red {
    background: $red-color;
    transition: 0.3s;

    &:hover {
      background: lighten($red-color, 7%);
    }
  }

  &--yellow {
    background: #f8cd53;
    padding: 21px 41px;
    font-size: 1.5rem;
    border-radius: 8px;
    letter-spacing: 1px;
    font-weight: bold;
    line-height: 1.2;

    &:hover {
      background: lighten(#f8cd53, 7%);
    }
  }

  &--uppercase {
    text-transform: uppercase;
  }
}