.header {

  &__top {
    background-color: $color-top;
    border-bottom: 1px solid $color-top-gray;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 41px 0 38px;

    @media (max-width: 1000px) {
      flex-direction: column;
    }
  }
}

.contacts {
  text-align: right;
}

.contact {
  @include helvetica-neue-light();
  display: inline-block;
  vertical-align: middle;
  padding: 10px 5px 8px;
  transition: 0.3s;
  text-decoration: none;

  &__text {
    text-decoration: underline;
  }
  
  &:hover {
    color: lighten($color, 30%);
  }

  &:first-child {
    margin-right: 8px;
    padding-right: 18px;
    border-right: 1px solid $color-top-gray;

    @media (max-width: 380px) {
      border-right: none;
      padding-right: 0;
    }
  }

  &__icon {
    margin-right: 3px;
    vertical-align: middle;
    font-size: 1.3rem;

    &--email {
      font-size: 1.2rem;
    }
  }
}

.facebook-icon {
  display: inline-block;
  margin: 7px 0;
  padding: 5px 8px 1px;
  border-radius: 3px;
  background-color: #1287b8;
  color: #fff;
  transition: 0.3s;

  &:hover {
    opacity: .7;
  }
}

.logo {
  @media (max-width: 1000px) {
    margin-left: 0;
    margin-bottom: 15px;
  }
}

.nav {
  display: inline-block;
  padding-top: 3px;
  margin-left: 165px;
  vertical-align: top;

  @media (max-width: 1045px) {
    margin-left: 100px;
  }

  @media (max-width: 1000px) {
    margin-bottom: 25px;
    margin-left: 0;
  }

  &__link {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    text-decoration: none;
    @include helvetica-neue-bold();
    text-transform: capitalize;
    transition: 0.3s;
    font-size: 0.9rem;

    &:hover,
    &--active {
      color: $red-color;
    }

    &:after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 5px;
      height: 5px;
      margin-left: 15px;
      border-radius: 50%;
      background: $color;
    }

    &:last-child:after {
      display: none;
    }

    @media (max-width: 530px) {
      display: block;
      text-align: center;

      &:after {
        display: none;
      }
    }
  }
}